@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 25px;
}

* {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

html {
  font-size: 24px;
  scroll-behavior: smooth;
}

body, h1, h2 {
  margin: 0;
  line-height: 1.25em;
}

img {
  pointer-events: none;
}

a.btn {
  background: white;
  border: none;
  padding: 20px 30px;
  border-radius: 16px;
  color: #07070a;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform ease-in-out 100ms;
  transition: -webkit-transform ease-in-out 100ms;
  transition: transform ease-in-out 100ms;
  transition: transform ease-in-out 100ms, -webkit-transform ease-in-out 100ms;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  text-decoration: none;
}

a.btn.dark {
  background: #07070a;
  color: white;
}

a.btn.dark:active {
  border: #778fe6 4px solid;
}

a.btn:focus {
  outline: none;
}

a.btn:hover {
  -webkit-transform: scale(0.975);
          transform: scale(0.975);
}

a.btn:active {
  border: #778fe6 4px solid;
  padding: 16px 26px;
}

header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100vw;
  color: white;
  z-index: 999;
  text-shadow: 0 1px 3px #07070a;
}

header h1.logo {
  display: inline-block;
}

header h1.logo a {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  float: left;
  margin-left: 50px;
  text-transform: lowercase;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  opacity: 75%;
  padding: 3px 5px;
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}

header nav ul li a:hover {
  opacity: 100%;
}

.cover {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#264bd1), to(#b81b2d));
  background: linear-gradient(to bottom right, #264bd1, #b81b2d);
}

.cover canvas {
  height: 99% !important;
}

.cover .wrapper {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  text-align: center;
}

.cover .wrapper h1 {
  font-size: 2rem;
}

.cover .wrapper p {
  font-size: 1.25rem;
  color: #fafff0;
}

.cover .wrapper a.btn {
  pointer-events: all;
}

.cover img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.about {
  height: calc(100vh - 50px);
  background: #07070a;
}

.about .content {
  color: white;
  padding-top: 200px;
}

.about .content .wrapper h2 {
  font-size: 2rem;
}

.about .content .wrapper h2 .blurple {
  color: #778fe6;
}

.about .content .wrapper h2 #typed, .about .content .wrapper h2 .typed-cursor {
  color: #e65364;
}

.about .content .wrapper p {
  color: #fafff0;
  line-height: 1.75em;
}

.about .content img {
  border-radius: 64px;
  width: 30%;
  float: right;
  pointer-events: none;
}

.more-about {
  height: 100vh;
  background: #e65364;
}

.more-about .content {
  padding-top: 100px;
}

.more-about .content img {
  -webkit-mask-image: url("../assets/svg/left-image-mask.svg");
          mask-image: url("../assets/svg/left-image-mask.svg");
  width: 30%;
  max-height: 80vh;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.skills {
  background: #fafff0;
  text-align: center;
}

.skills .wave {
  position: relative;
  left: 0;
  top: -150px;
}

.skills .wrapper {
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
}

.skills h1 {
  text-transform: uppercase;
  color: #e65364;
  font-size: 2rem;
}

.skills .skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 100px;
  gap: 50px;
}

.skills .skills-grid .skill-item {
  background: #778fe6;
  border-radius: 64px;
  text-align: center;
  padding: 40px 20px;
  -webkit-filter: drop-shadow(0 0 4px #07070a);
          filter: drop-shadow(0 0 4px #07070a);
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}

.skills .skills-grid .skill-item img {
  width: 70%;
  aspect-ratio: 1;
  margin: 0 auto 25px;
  display: block;
  -webkit-filter: drop-shadow(0 0 4px #07070a);
          filter: drop-shadow(0 0 4px #07070a);
}

.skills .skills-grid .skill-item span {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.skills .skills-grid .skill-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-filter: drop-shadow(0 5px 8px #07070a);
          filter: drop-shadow(0 5px 8px #07070a);
}
/*# sourceMappingURL=style.css.map */