// Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

// Colors
$blurple: #778fe6;
$reddish: #e65364;
$almost-white: #fafff0;
$grey: #2b2e33;
$almost-black: #07070a;

// Global Classes
.wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
}

* {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

html {
    font-size: 24px;
    scroll-behavior: smooth;
}

body, h1, h2 {
    margin: 0;
    line-height: 1.25em;
}

img {
    pointer-events: none;
}

a.btn {
    background: white;
    border: none;
    padding: 20px 30px;
    border-radius: 16px;
    color: $almost-black;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform ease-in-out 100ms;
    appearance: button;
    text-decoration: none;

    &.dark {
        background: $almost-black;
        color: white;

        &:active {
            border: $blurple 4px solid;
        }
    }

    &:focus {
        outline: none;
    }

    &:hover {
        transform: scale(0.975);
    }

    &:active {
        border: $blurple 4px solid;
        padding: 16px 26px;
    }
}

header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100vw;
    color: white;
    z-index: 999;
    text-shadow: 0 1px 3px $almost-black;

    h1.logo {
        display: inline-block;
        a {
            font-size: 1.5rem;
            text-transform: uppercase;
            color: white;
            text-decoration: none;
        }
    }

    nav {
        float: right;
        
        ul {
            list-style: none;
            
            li {
                float: left;
                margin-left: 50px;
                text-transform: lowercase;
                
                a {
                    text-decoration: none;
                    color: white;
                    opacity: 75%;
                    padding: 3px 5px;
                    transition: ease-in-out 100ms;

                    &:hover {
                        opacity: 100%;
                    }
                }
            }
        }
    }
}

.cover {
    height: 100vh;
    background: linear-gradient(to bottom right, darken($blurple, 20%), darken($reddish, 20%));

    canvas {
        height: 99% !important;
    }

    .wrapper {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        text-align: center;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1.25rem;
            color: $almost-white;
        }

        a.btn {
            pointer-events: all;
        }

    }

    img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.about {
    height: calc(100vh - 50px);
    background: $almost-black;

    .content {
        color: white;
        padding-top: 200px;

        .wrapper {
            h2 {
                font-size: 2rem;

                .blurple {
                    color: $blurple;
                }
        
                #typed, .typed-cursor {
                    color: $reddish;
                }
            }

            p {
                color: $almost-white;
                line-height: 1.75em;
            }
        }

        img {
            border-radius: 64px;
            width: 30%;
            float: right;
            pointer-events: none;
        }
    }
}

.more-about {
    height: 100vh;
    background: $reddish;

    .content {
        padding-top: 100px;

        img {
            // position: relative;
            mask-image: url('../assets/svg/left-image-mask.svg');
            width: 30%;
            max-height: 80vh;
            mask-repeat: no-repeat;
        }
    }

}

.skills {
    background: $almost-white;
    text-align: center;

    .wave {
        // transform: translateY(-150px);
        position: relative;
        left: 0;
        top: -150px;
    }

    .wrapper {
        transform: translateY(-250px);
    }

    h1 {
        text-transform: uppercase;
        color: $reddish;
        font-size: 2rem;
    }

    .skills-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 100px;
        gap: 50px;

        .skill-item {
            background: $blurple;
            border-radius: 64px;
            text-align: center;
            padding: 40px 20px;
            filter: drop-shadow(0 0 4px $almost-black);
            transition: ease-in-out 100ms;

            img {
                width: 70%;
                aspect-ratio: 1;
                margin: 0 auto 25px;
                display: block;
                filter: drop-shadow(0 0 4px $almost-black);
            }
            span {
                font-size: 1.25rem;
                font-weight: bold;
                color: white;
            }
            
            &:hover {
                transform: translateY(-10px);
                filter: drop-shadow(0 5px 8px $almost-black);}
        }
    }
}